<div class="hd" style="padding:10px;margin-left:500px;" ><h1>ENDANGERED BUTTERFLIES</h1></div>
<p style="margin-left:85px;">  Butterfly populations are constantly in danger of disappearing.
                              Habitat loss is one of the leading causes of species decline. 
                              Here are some of the world's most endangered butterfly species.
</p>
<hr>
<img  style="width:600px;height:400px; margin-left:450px;" src="assets/e1.jpg">
<h5 style="margin-left:680px;">Butterfly Decline</h5>

<p style="margin-left:300px;width:1000px; position:relative ; ">Dead monarch butterflies lie on the ground at an overwintering site for the species in the Mexican state of Michoacán in January 2013. 
During the winter of 2012–13, the area witnessed a dramatic decrease in monarch populations from the previous year,
 reflecting a disturbing trend of declining butterfly numbers in many parts of the world.<p>

<div class="c1" style=" background-color:  linear-gradient(to right top, #e3e4e5, #e6e7e8, #eaeaeb, #ededed, #f0f0f0);
 width:700px;height:500px; margin-left:50px;border: 6px solid green; border-radius: 20px;
  height: 500px;" >
 <br>
 <div class="content" style="margin: 10px;">
 <h3 style="color: coral; margin-left: 200px; ">Habitat Destruction.</h3>
 <hr>
In June 2013 two butterflies known only from South Florida were officially declared likely to be extinct.
 Extensive searches conducted for over a decade indicated that the Zestos skipper (Epargyreus zestos oberon) and the rockland grass skipper
  (Hesperia meskei pinocayo) had disappeared. There had been only four known extinct butterflies native to the U.S., and the last one to be
   cited for extinction was cited 50 years earlier. 
The loss of two species from one area represented a 50% increase in extinctions for the entire country and raised an alarm.
<br>
<br>
 South Florida, symbolic of many at-risk areas of the world, hosts multiple endangered butterfly species. 
The area boasts unique ecosystems—hammocks, islands, and river drainages—within small areas.
 These ecosystems contain endemic species—species that are found only in a particular region—a factor that can make them more vulnerable to extinction.
  Although human development in Florida has largely destroyed the habitat of some species, others have had their habitats fragmented. 
  To thrive, many organisms require one large area rather than several smaller separate regions. 
  Thus, human development and the resultant habitat fragmentation can be sufficient to cause the extinction of a species. 
  
</div>
</div>


<div class="c1" style=" background-color:  linear-gradient(to right top, #e3e4e5, #e6e7e8, #eaeaeb, #ededed, #f0f0f0);
 width:700px;height:500px; margin-left:780px;margin-top: -500px; border: 6px solid green; border-radius: 20px">
 <br>

<div class="content" style="margin: 10px;">
  <h3 style="color: coral; margin-left: 150px; ">Invasive Species and Pesticides.</h3>
  <hr>
  Florida’s butterfly species are not at risk only from habitat destruction.
  The threats of invasive species and poorly managed pesticide use can be sufficient to eliminate a species from an area,
   even without overt habitat destruction. Florida harbours several severe human diseases of which mosquitoes are a vector,
    and pesticide use for mosquito control previously demonstrated a negative effect on butterfly populations.
     It is vital to closely monitor the use of pesticides. Invasive species too have become an increasing problem.
      Wildlife managers are worried that nonnative fire ants might eat butterfly eggs and caterpillars and that the African 
      snail might destroy host-plant vegetation. The combination of these factors with the pressures of human development is not unique to Florida,
  however; it can be sufficient to push a butterfly species into extinction in other parts of the world as well.
 <br>
 <br>
 Pesticides vary in their effects on butterflies. Contact pesticides are usually sprayed on plants and can kill butterflies when they crawl over sprayed surfaces of plants or other areas around it. 
 Actual damage to bee populations is a function of toxicity and exposure of the compound, in combination with the mode of application.
   </div>
 </div>
<br>


<div class="c1" style=" background-color:  linear-gradient(to right top, #e3e4e5, #e6e7e8, #eaeaeb, #ededed, #f0f0f0);
 width:700px;height:540px; margin-left:50px;border: 6px solid green; border-radius: 20px;" >
 <br>
 <div class="content" style="margin: 10px;">
 <h3 style="color: coral; margin-left: 200px; ">Global Climate Change.</h3>
 <hr>
 As has been well documented, the effects of future global warming are not always warmer temperatures:
 climates can become colder, wetter, or drier for various regions, all factors that can affect plants and animals in ways
  that are difficult to predict. This global climate change is just that—change—from the natural state of global ecosystems. 
  Some species, such as arctic land mammals, could appear to benefit from predictions that their range might be extended. Such extensions would not be natural,
 however, and it is hard to predict the ways in which these animals might affect the ecosystems into which they would be encroaching.
<br>
<br>
Using years of butterfly survey data and global climate change models, scientists have created predictions of warmer
climate’s impact on butterfly populations in the U.K. These studies suggest that the populations of more than half the 
butterfly species in the U.K. are expected to expand in range, a circumstance that typically translates to a higher, more 
diverse population and a lower risk of extinction. Though this range shift might appear to be good news for butterflies, 
it comes with a dark side. It is unclear how these populations of butterflies would influence the other species in the areas
 into which they expanded, and it could bring a range extension for any parasites or viruses that could accompany the butterflies. 
 What happens in the U.K., however, does not happen to all butterflies. 
  
</div>
</div>



<div class="c1" style=" background-color:  linear-gradient(to right top, #e3e4e5, #e6e7e8, #eaeaeb, #ededed, #f0f0f0);
 width:700px;height:540px; margin-left:780px;margin-top: -540px; border: 6px solid green; border-radius: 20px">
 <br>

<div class="content" style="margin: 10px;">
  <h3 style="color: coral; margin-left: 250px; ">Agriculture.</h3>
  <hr>
  The monarch butterfly is considered the most recognized backyard butterfly in North America,
     and it is known for its annual migrations of more than 3,219 km (2,000 mi) over several generations.
      Most of the monarchs of North America east of the Rocky Mountains migrate south to overwinter in a 
      small pine forest area in Mexico known as the Monarch Butterfly Biosphere Reserve. The closely monitored
       numbers found at that site provide an indication of the health of the North American monarch butterfly 
       population. The winter of 2012–13 showed a worrisome 59% decrease in monarch populations from the previous 
       year; it was the lowest count recorded in at least two decades.
 <br>
 <br>
 For years monarch butterfly conservation efforts were concentrated on preserving the overwintering site in Mexico, 
 but the focus has gradually turned northward. The loss of milkweed habitat—milkweed being the primary host plant 
 upon which monarch caterpillars feed—has been attributed to an increase in the use of Roundup in agriculture. The 
 herbicide can be liberally applied to genetically modified (GM) crops without risk to them, but species such as 
 milkweed (normally found in fields) have been suffering, and monarchs might be paying the price for the decimation of the plants.
   </div>
 </div>
<br>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark " style="margin-top: -2px; width:100%;  ">
  <a style='color:white; margin-left:600px'>  © 2020 TheFlutterby Copyrights. All Rights Reserved </a>    
</nav> 







