<div class="hd"  style="margin-left :600px;padding: 20px;">
    <h1>Resources</h1>
  </div>
  
  
  
  <div id="demo" class="carousel slide" data-ride="carousel" >
  
       <!-- Indicators  -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul> 
    
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="https://en.wikipedia.org/wiki/Butterfly" target="_blank"><img src="assets/r1.jpg" alt="Los Angeles"  width="100%" height="500px" ></a>
          <div class="carousel-caption">
              <a href="https://en.wikipedia.org/wiki/Butterfly" target="_blank"> <h3>Know more about Butterflies</h3></a>
            </div>
        </div>
        <div class="carousel-item">
          <a href="https://en.wikipedia.org/wiki/Butterfly" target="_blank">   <img src="assets/ca2.jpg"  alt="Chicago"width="100%" height="500px"></a>
          <div class="carousel-caption">
              <a href="https://en.wikipedia.org/wiki/Butterfly" target="_blank"> <h3>Know more about Butterflies</h3></a>
            </div>
        </div>
        <div class="carousel-item">
          <a href="https://en.wikipedia.org/wiki/Butterfly" target="_blank">  <img src="assets/ca4.jpg" alt="New York" width="100%" height="500px"></a>
          <div class="carousel-caption">
              <a href="https://en.wikipedia.org/wiki/Butterfly" target="_blank"> <h3>Know more about Butterflies</h3></a>
            </div>
        </div>
      </div>
     
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div> 
    <br>  
    <div class="wwf" style="background-color:rgba(89, 90, 90, 0.459); width: 500px; height: 500px; margin-left: 150px;border-radius: 35px;">
      <a href="https://blogs.scientificamerican.com/observations/the-last-butterflies/" target="_blank">   <img  style="width: 400px; height: 400px;margin-top: 10px; margin-left: 45px;" src="assets/rs1.jpg"></a>
      <h6 style="margin-left: 150px;">Know more about</h6>
      <a href="https://blogs.scientificamerican.com/observations/the-last-butterflies/" target="_blank"><h4 style="margin-left: 80px;">ENDANGERED BUTTERFLIES</h4></a>
  
    </div>
    <div clas="w"  style="display:flex;">
    <div class="wwf" style="background-color: rgba(89, 90, 90, 0.459); width: 500px; height: 500px; margin-left: 950px;margin-top:-500px; border-radius: 35px;" >
      <a href="https://www.worldwildlife.org/" target="_blank">   <img  style="width: 400px; height: 400px;margin-top: 10px; margin-left: 45px;" src="assets/rs2.png"></a>
        <h6 style="margin-left: 180px;">Know more about</h6>
        <a href="https://www.worldwildlife.org/" target="_blank"><h4 style="margin-left: 160px;">WORLD WILD LIFE</h4></a>
    
      </div>
    </div>
    <br>
    <br>
    

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar bottom" style="margin-top: -2px; width:100%;  ">
      <a style='color:white; margin-left:600px'>  © 2020 TheFlutterby Copyrights. All Rights Reserved </a>    
    </nav> 