<div class="hd" style="margin-left:500px;padding:50px" >
    <h1>ALL ABOUT BUTTERFLIES</h1>
</div>



<div class="info">
<div class="section" style= "background-image: linear-gradient(to right top, #d8e1ee, #d5e4eb, #d7e6e5, #dee7e2, #e5e7e1);
height:250px;width:900px;margin-top:32px; margin-left:300px;
 padding:50px; border-radius: 35px;">
    <h2 style="margin-left:px;">What is Buttterfly?</h2>
    <div class="p" style="width:700px; ;">
    <p>Butterflies are the adult flying stage of certain insects belonging to an order or group called Lepidoptera. 
        Moths also belong to this group. The word "Lepidoptera" means "scaly wings" in Greek. 
        This name perfectly suits the insects in this group because their wings are covered with thousands of
         tiny scales overlapping in rows. The scales,
         which are arranged in colorful designs unique to each species, are what gives the butterfly its beauty.
    </p>
    <img style="margin-top:-245px;margin-left:680px;border-radius: 50%; height: 250px; width: 250px;" src="assets/ca3.jpg">
</div>
</div>
<br>
<br>
<h1 style="margin-left:520px;">LIFE CYCLE of BUTTERFLY</h1>
<img src="assets/bls.jpg" style="width:1400px; height:400px;margin-left:60px">
<div class="p" style="width:850px; margin-left:350px;margin-top:-87px">
<p>
        A life cycle is made up of the stages that a living organism goes through during its lifetime from beginning to end.
         A butterfly undergoes a process called complete metamorphosis during its life cycle. 
         This means that the butterfly changes completely from its early larval stage, 
         when it is a caterpillar, until the final stage, when it becomes a beautiful and graceful adult butterfly.
         The butterfly life cycle has four stages: egg, larva, pupa, and adult.</p>
</div>
<br>


<div class="eggs" style=" background-image: linear-gradient(to right top, #d8e1ee, #d5e4eb, #d7e6e5, #dee7e2, #e5e7e1);
height:230px;width:900px; margin-left:350px; border-radius: 35px;">
    <br>
    <h2 style="margin-left:130px;">1.EGGS</h2><br>
    <img style=" border-radius: 50%; width: 250px;height: 250px;margin-top:-103px; margin-left: -130px;" src="assets/logo1.jpg">
    
    <div class="eggsc" style="display:flex;margin-top:-160px;width:600px;margin-left:140px;">
            The first stage of the butterfly life cycle is the egg or ovum. 
            Butterfly eggs are tiny, vary in color and may be round, cylindrical or oval. 
            The female butterfly attaches the eggs to leaves or stems of plants that will 
            also serve as a suitable food source for the larvae when they hatch
    </div>
</div>
<br>
<br>
<br>
<div class="eggs" style=" background-image: linear-gradient(to right top, #d8e1ee, #d5e4eb, #d7e6e5, #dee7e2, #e5e7e1);
height:250px;width:900px; margin-left:350px; border-radius: 35px;">
    <br>
    <h2 style="margin-left:130px;">2.LARVA</h2><br><br>
    <img style=" border-radius: 50%; width: 255px;height: 255px;margin-top:-121.3px; margin-left: -130px;" src="assets/r1.jpg">
    
    <div class="eggsc" style="display:flex;margin-top:-160px;width:730px;margin-left:140px;margin-top:-180px;">
        <br>
          The larva, or caterpillar, that hatches from the egg is the second stage in the life cycle.
        Caterpillars often, but not always, have several pairs of true legs, along with several pairs 
        of false legs or prolegs. A caterpillar's primary activity is eating. They have a voracious 
        appetite and eat almost constantly. As the caterpillar continues to eat, its body grows considerably. 
        The tough outer skin or exoskeleton, however, does not grow or stretch along with the enlarging caterpillar. 
        Instead, the old exoskeleton is shed in a process called molting and it is replaced by a new, larger exoskeleton.
    A caterpillar may go through as many as four to five molts before it becomes a pupa
    </div>
</div>
<br>
<br>
<br>
<div class="eggs" style=" background-image: linear-gradient(to right top, #d8e1ee, #d5e4eb, #d7e6e5, #dee7e2, #e5e7e1);
height:250px;width:900px; margin-left:350px; border-radius: 35px;">
    <br>
    <h2 style="margin-left:130px;">3.PUPA</h2><br><br>
    <img style=" border-radius: 50%; width: 255px;height: 255px;margin-top:-121.3px; margin-left: -130px;" src="assets/logo3.jpg">
    
    <div class="eggsc" style="display:flex;margin-top:-160px;width:730px;margin-left:140px;margin-top:-180px;">
        <br>
        The third stage is known as the pupa or chrysalis. The caterpillar attaches itself to a twig,
        a wall or some other support and the exoskeleton splits open to reveal the chrysalis. 
        The chrysalis hangs down like a small sack until the transformation to butterfly is complete.
        The casual observer may think that because the pupa is motionless that very little is going on during this "resting stage."
        However, it is within the chrysalis shell that the caterpillar's structure is broken down and rearranged into the wings,
        body and legs of the adult butterfly. The pupa does not feed but instead gets its energy from the food eaten by the larval stage.
      
    </div>
    <br>
<br>
<br>
<div class="eggs" style=" background-image: linear-gradient(to right top, #d8e1ee, #d5e4eb, #d7e6e5, #dee7e2, #e5e7e1);
height:235px;width:900px; margin-left:0px; border-radius: 35px;">
    <br>
    <h2 style="margin-left:130px;">4. ADULT</h2><br><br>
    <img style=" border-radius: 50%; width: 250px;height: 250px;margin-top:-123px; margin-left: -130px;" src="assets/t2.png">
    
    <div class="eggsc" style="display:flex;margin-top:-200px;width:730px;margin-left:140px;margin-top:-180px;">
        <br>
        <br>
        <p>
        The fourth and final stage of the life cycle is the adult. Once the chrysalis casing splits, the butterfly emerges. 
        It will eventually mate and lay eggs to begin the cycle all over again.
         Most adult butterflies will live only a week or two, while a few species may live as long as 18 months
        </p>
    </div>
    <br>
    
    <div><h2 style="margin-top: 100px; margin-left: 350px;" >MIGRATION</h2></div>
    
    <div class="eggs" style=" background-image: linear-gradient(to right top, #d8e1ee, #d5e4eb, #d7e6e5, #dee7e2, #e5e7e1);
height:250px;width:1000px; margin-left:-60px; border-radius: 35px;">
 
    <img style=" border-radius: 50%; width: 260px;height: 260px; margin-left: -130px;margin-top: -4px;" src="assets/migration.jpg">
    
    <div class="eggsc" style="display:flex;width:800px;margin-left:140px;margin-top:-250px;">
        
        Another way that butterflies can escape cold weather is by migrating to a warmer region. Some migrating butterflies,
                 such as the painted lady and cabbage butterfly,
                 fly only a few hundred miles, while others, such as the monarch, travel thousands of miles.
                Monarchs are considered the long-distance champions of butterfly migration, traveling as many as 4000 miles round trip.
                 They begin their flight before the autumn cold sets in, heading south from Canada and the northern United States. 
                 Monarchs migrate to the warmer climates of California, Florida and Mexico, making the trip in two months or less and 
                 feeding on nectar along the way. Once arriving at their southern destination, they will spend the winter resting for the
                  return flight. Few of the original adults actually complete the trip home. Instead, 
                the females mate and lay eggs along the way and their offspring finish this incredible journey.
         
      
    </div>

    <div><h2 style="margin-top: 80px; margin-left: 450px;">DIET</h2></div>
    
    <div class="eggs" style=" background-image: linear-gradient(to right top, #d8e1ee, #d5e4eb, #d7e6e5, #dee7e2, #e5e7e1);
height:250px;width:1000px; margin-left:0px; border-radius: 35px;">
 
    <img style=" border-radius: 50%; width: 260px;height: 260px; margin-left: -130px;margin-top: -4px;" src="assets/diet.jpg">
    
    <div class="eggsc" style="display:flex;width:800px;margin-left:140px;margin-top:-220px;">
        These insects predominantly feed on flowers nectar. Some species also draw nourishment from pollen, rotting fruit, 
        dung, tree sap, decaying flesh, and dissolved materials in wet sand and dirt. Butterflies play pivotal environmental
         role in that they act as pollinators of plants although in general they do not take too much pollen load as bees.
         Butterflies are known to move pollen over vast distances.<br>
             Butterflies can eat anything that can dissolve in water.
              They mostly feed on nectar from flowers but also eat tree sap, dung, pollen, or rotting fruit. 
              They are attracted to sodium found in salt and sweat. This is why they sometimes even land on people in Butterfly Parks.
              Sodium as well as many other minerals is vital for the butterflies reproduction. 
    </div>
  

    <div><h2 style="margin-top: 80px; margin-left: 450px;">HABITAT</h2></div>
    
    <div class="eggs" style=" background-image: linear-gradient(to right top, #d8e1ee, #d5e4eb, #d7e6e5, #dee7e2, #e5e7e1);
height:250px;width:1000px; margin-left:0px; border-radius: 35px;">
 
    <img style=" border-radius: 50%; width: 260px;height: 260px; margin-left: -130px;margin-top: -4px;" src="assets/habitat.jpg">
    
    <div class="eggsc" style="display:flex;width:800px;margin-left:140px;margin-top:-190px;">
        Butterflies live worldwide except the arctic. Nearly anywhere with nectar-producing flowers will host butterflies.
                         Some species live in the deserts and feed upon the succulent plants that grow in the harsh conditions. 
                         Empress leillia (Asterocampa leillia) and elada checkerspot (Texola elada) are two desert-dwelling species.
                          Others, such as the blue morphos (Morpho peleides), live in dense rainforests, feeding off the flowering plants and trees. 
                        Still others inhabit meadows and temperate prairies, fluttering from wildflower to wildflower. 
    </div>
</div>
    <br>
    <br>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark " style="margin-top: -2px; width:1519px; margin-left: -290px; ">
          <a style='color:white; margin-left:600px'>  © 2020 TheFlutterby Copyrights. All Rights Reserved </a>    
   </nav> 
