<div class="hd"  style="margin-left :600px;padding: 20px;">
    <h1>SIGHTINGS</h1>
  </div>
  <p style="margin-left:585px;"> Seen a butterfly! Take a snap and upload.
</p>
<hr>



<div class="container">
    <form action="/action_page.php" accept="image/gif,image/jpeg">
    <div class="row">
      <div class="col-25">
        <label for="fname">Full Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Place</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="where you sighted butterfly..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">Date & Time</label>
      </div>
      <div class="col-75">
            <input type="text" id="lname" name="lastname" placeholder="when you sighted butterfly..">
      </div>
    </div>
    <div class="row">
            <div class="col-25">
              <label for="country">Type of Butterfly</label>
            </div>
            <div class="col-75">
                  <input type="text" id="lname" name="lastname" placeholder="which type of butterfly..">
            </div>
          </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Description</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Description of butterfly.." style="height:100px"></textarea>
      </div>
    </div>
    <div class="row">
            <div class="col-25" >
              <label for="subject">Upload Image</label>
            </div>
            <div class="col-75">
                    <input  type="file" name="pic" id="pic">
                  </div>
        </div>
    
    <div class="row">
      <input type="submit" value="Submit">
    </div>
    </form>
  </div>
  
<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar bottom" style="margin-top: -2px; width:100%;  ">
  <a style='color:white; margin-left:600px'>  © 2020 TheFlutterby Copyrights. All Rights Reserved </a>    
</nav> 