<div class="butterfly">
    <h1 style="margin-left: 525px;">BUTTERFLY OF THE WORLD</h1>
    <div class="c1" style="width: 850px; margin-left: 350px;">
        Due to their bright colors and visits to flowers, butterflies are the most familiar of insects to humans.
         There are about 17,500 species of butterflies in the world, and around 750 species in the United States.
    </div>
</div>
<div class="container" style="  padding: 2rem 0rem;">
    <div class="row">
      <div class="col-12">
          <table class="table table-image" style="vertical-align: middle; ">
            <thead>
              <tr >
                <th scope="col"><h5 style="margin-left: 100px;">Image</h5></th>
                <th scope="col"><h5 style="margin-left: 160px;">Different types of Species</h5></th>
                <th scope="col"><h5 style="margin-left: 130px;">Location</h5></th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="w-25">
              <a href="https://en.wikipedia.org/wiki/Pachliopta_hector" target="_blank" >     
                <img src="assets/t1.png" class="img-fluid img-thumbnail" alt="Sheep">
              </a>
                </td>
                <td ><h6 style="margin-left: 150px; margin-top: 80px;">Pachliopta hector (Crimson Rose)  </h6></td>
                <td><h6 style="margin-left: 100px;margin-top: 80px;">Sri Lanka and India</h6></td>
              </tr>
              <tr>
              <td class="w-25">
                  <a href="https://en.wikipedia.org/wiki/Papilio_glaucus" target="_blank" > 
                    <img src="assets/t2.png" class="img-fluid img-thumbnail" alt="Sheep">
                  </a>
                </td>
                <td ><h6 style="margin-left: 150px; margin-top: 80px;"> Tiger Swallowtail</h6></td>
                <td><h6 style="margin-left: 100px;margin-top: 80px;">North America</h6></td>
              </tr>
              
            <tr>
                <td class="w-25">
                    <a href="https://en.wikipedia.org/wiki/Morpho" target="_blank" > 
                    <img src="assets/t3.png" class="img-fluid img-thumbnail" alt="Sheep">
                    </a>
                </td>
              <td ><h6 style="margin-left: 150px; margin-top: 80px;"> Blue Morpho</h6></td>
                <td><h6 style="margin-left: 100px;margin-top: 80px;">South America</h6></td> 
            </tr>

            <tr>
                <td class="w-25">
                    <a href="https://en.wikipedia.org/wiki/Junonia_almana" target="_blank" > 
                    <img src="assets/t4.png" class="img-fluid img-thumbnail" alt="Sheep">
                  </a>
                </td>
              <td ><h6 style="margin-left: 150px; margin-top: 80px;">Peacock Pansy (Junonia Almana)   </h6></td>
                <td><h6 style="margin-left: 100px;margin-top: 80px;">South Asia</h6></td> 
            </tr>
            <tr>
                <td class="w-25">
                    <a href="https://en.wikipedia.org/wiki/Diaethria_anna" target="_blank" > 
                    <img src="assets/t5.png" class="img-fluid img-thumbnail" alt="Sheep">
                  </a>
                </td>
              <td ><h6 style="margin-left: 150px; margin-top: 80px;">Eighty-Eight butterfly (Diaethria Anna)   </h6></td>
                <td><h6 style="margin-left: 100px;margin-top: 80px;">Central America</h6></td> 
            </tr>
            <tr>
                <td class="w-25">
                    <a href="https://en.wikipedia.org/wiki/Chorinea_sylphina" target="_blank" > 
                    <img src="assets/t6.png" class="img-fluid img-thumbnail" alt="Sheep">
                    </a>
                </td>
              <td ><h6 style="margin-left: 150px; margin-top: 80px;">Sylphina Angel (Chorinea sylphina) </h6></td>
                <td><h6 style="margin-left: 100px;margin-top: 80px;"> Amazon and Andes  </h6></td> 
            </tr>
            <tr>
                <td class="w-25">
                    <a href="https://en.wikipedia.org/wiki/Graphium_weiskei" target="_blank" > 
                    <img src="assets/t7.png" class="img-fluid img-thumbnail" alt="Sheep">
                    </a>
                </td>
              <td ><h6 style="margin-left: 150px; margin-top: 80px;">Purple Spotted Swallowtail (Graphium weiskei)  </h6></td>
                <td><h6 style="margin-left: 100px;margin-top: 80px;">   New Guinea   </h6></td> 
            </tr>
              
            </tbody>
          </table>   
      </div>
    </div>
  </div>
<br>
<br>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar bottom" style="margin-top: -2px; width:100%;  ">
  <a style='color:white; margin-left:600px'>  © 2020 TheFlutterby Copyrights. All Rights Reserved </a>    
</nav> 
